{{ partial "header.html" . }}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-grey-text darken-1">angular2-google-maps</h1>
      <div class="row center">
        <h5 class="header col s12 light">Angular2 Directives for the Google Maps API v3</h5>
      </div>
      <div class="row center">
        <a href="{{.Site.BaseURL}}getting-started/" class="btn-large waves-effect waves-light red lighten-1">Getting Started</a>
      </div>
      <div class="row center">
        <a href="https://github.com/SebastianM/angular2-google-maps" class="btn waves-effect waves-light blue-grey darken-1">Source on Github</a>  <a href="https://groups.google.com/forum/#!forum/angular2-google-maps" class="btn waves-effect waves-light blue-grey darken-1">Forum</a> <a href="{{.Site.BaseURL}}api/" class="btn waves-effect waves-light blue-grey darken-1">API Docs</a>
      </div>
      <br><br>

    </div>
  </div>      
  
  {{ partial "footer.html" . }}
  </body>
</html>