language: node_js
sudo: false
node_js:
- '5.0.0'

env:
  global:
    # NPM_TOKEN (used for npm publish)
    secure: KGqGPEc+ua+Rt1ZXBHEurQgnBNmVxpQ0bhJjJ9aXzK4f9+ZjYRetnLQQJg9EDi6ztgzvFp/Luqd+Ce+2wa9Vn/eOTmIlUF6AjDVuw8Azhre8J33p+ZDBtVBtAe2hxO+0d8lz0xorpymfceP86P3E7ggU2cNjdpkoWt1Tsd6dZWNLeAKwbw+0WC6V3b6OZce1RqgkgIlLjF3dJl0vDJWFamGFBNPySco4rR5CCX+b5rGarTNvGHEmjZe2h6EuUHm8NFAoT2C49PPtAARRyyEWDen7nGO4f0d2/myNKr1WNERVGAIMx79lE/JwHz7mz0CCB3i3nYZV1RM8Rbkh4az+X/VUpib3fraA2ZBNvAtdXEKHnV/xaT4ioLnbfp2TDQdbmelmSqLolcy62i8YXYG/GczJJvdgO/BfXg8YqBjZY+uk698cUGgxbxsucVRxqCM1bQuhbSioNxssXWoZ+pP2iNxocnltQGGhVD5nl2dU35wnq6llkttW92g1I40W4npDdRU6N+hcehmS2WptkakNL2cprzdxBeZkEQSRBEAsz0iDMvteRJPfA7q8L9Pt7TEwhCkAnoyxqDpN+e5zSHJK2gxKyjGuWVVUPSyWsBgQQrdgLb4f0gle/3sG/gdFeKUaV1C1l3aW4QfJYi81XMBJU+jjbp6PrAXGiA7NgU+gUzA=

cache:
 directories:
   - node_modules

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/51f75e331838d36801f2
    on_success: change
    on_failure: always
    on_start: never

addons:
  firefox: '38.0'
  
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - npm install

script:
  - npm run ci

after_success:
  - ./scripts/npm-publish.sh