body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #00899E;
  color: #fff;
}

::selection {
  background-color: #00899E;
  color: #fff;
}

.angular2-google-maps-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.angular2-google-maps-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}


.angular2-google-maps-mobile-title {
  display: none !important;
}


.angular2-google-maps-logo-image {
  height: 55px;
  width: 280px;
}


.angular2-google-maps-header {
  overflow: visible;
  background-color: white;
}

  .angular2-google-maps-header .material-icons {
    color: #767777 !important;
  }

  .angular2-google-maps-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .angular2-google-maps-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .angular2-google-maps-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .angular2-google-maps-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
  }

  .angular2-google-maps-search-box.is-focused + .angular2-google-maps-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .angular2-google-maps-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .angular2-google-maps-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #50C6D8;
    }


  .angular2-google-maps-more-button {
    order: 3;
  }


.angular2-google-maps-drawer {
  border-right: none;
}

  .angular2-google-maps-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .angular2-google-maps-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .angular2-google-maps-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .angular2-google-maps-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .angular2-google-maps-drawer .angular2-google-maps-logo-image {
      position: absolute;
      bottom: 16px;
    }

.angular2-google-maps-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('../img/bg-home.png') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.angular2-google-maps-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.angular2-google-maps-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.angular2-google-maps-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .angular2-google-maps-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.angular2-google-maps-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.angular2-google-maps-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.angular2-google-maps-screen {
  text-align: center;
}

.angular2-google-maps-screen .angular2-google-maps-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.angular2-google-maps-image-link {
  text-decoration: none;
}

.angular2-google-maps-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .angular2-google-maps-wear .angular2-google-maps-screen-image {
    width: 40%;
    z-index: 1;
  }


.angular2-google-maps-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .angular2-google-maps-phone .angular2-google-maps-screen-image {
    width: 100%;
    z-index: 1;
  }


.angular2-google-maps-link {
  text-decoration: none;
  color: #8bc34a !important;
}

  .angular2-google-maps-link:hover {
    color: #7cb342 !important;
  }

  .angular2-google-maps-link .material-icons {
    position: relative;
    top: 6px;
  }

.angular2-google-maps-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

  .angular2-google-maps-alt-link:hover {
    color: #00bfa5 !important;
  }

  .angular2-google-maps-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.angular2-google-maps-customized-section {
  text-align: center;
}

.angular2-google-maps-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .angular2-google-maps-customized-section-text p {
    padding-top: 16px;
  }

.angular2-google-maps-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .angular2-google-maps-more-section .angular2-google-maps-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.mdl-menu a {
  color: inherit;
  text-decoration: none;
}

.angular2-google-maps-card-container {
}

  .angular2-google-maps-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .angular2-google-maps-card-container .mdl-card__media img {
      width: 100%;
    }

  .angular2-google-maps-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .angular2-google-maps-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .angular2-google-maps-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 48px;
  }

  .angular2-google-maps-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .angular2-google-maps-card-container .mdl-card__actions a {
    border-top: none;
    line-height: 32px;
    font-size: 16px;
  }

.angular2-google-maps-footer {
  background-color: #fafafa;
  position: relative;
}

  .angular2-google-maps-footer a:hover {
    color: #8bc34a;
  }

  .angular2-google-maps-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .angular2-google-maps-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .angular2-google-maps-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .angular2-google-maps-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .angular2-google-maps-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.angular2-google-maps-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .angular2-google-maps-navigation-container {
    display: none;
  }

  .angular2-google-maps-title {
    display: none !important;
  }

  .angular2-google-maps-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .angular2-google-maps.angular2-google-maps-search-box.is-focused ~ .angular2-google-maps-mobile-title,
  .angular2-google-maps-search-box.is-focused + .angular2-google-maps-navigation-container + .angular2-google-maps-mobile-title {
    opacity: 0;
  }
}

h1 {
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  font-size: 3.7rem;
}

h2 {
  font-size: 3rem;
}

table {
  width: 100%;
}

table td, table th {
  border: 1px #ccc solid;
  padding: 10px;
}

table th {
  background: #f2f2f2;
}

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #00899E;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 20px 56px 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}